<!DOCTYPE html>
<html lang="pt_BR">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Project Livrary | Home</title>
</head>

<style>
   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
   }

   div {
      height: 100vh;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }

   button {
      padding: 1rem 2rem;
      width: 160px;
      border-radius: 2rem;
      margin: 0 1.2rem;
      cursor: pointer;
   }
</style>

<body>
   <div>
      <a href="/entrar"><button>Entrar</button></a>
      <a href="/cadastrar"><button>Cadastrar</button></a>
   </div>
</body>

</html>